body {
    background-color: rgb(0,0,69);
    color: ghostWhite;
}

#landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
  
  #landing-left-col {
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
  align-items: center; 
  justify-content: center; 
  }

  .text-center {
    margin-top: 1rem;
    font-size: 30pt;
  }
  
  #logo {
    height: 150px;
    margin-top: 3rem;
    align-self: center; 
    
  }
  
  #landing-right-col {
    text-align: center;
    margin-top: 2rem;
  }
  
  .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h3 {
    background-color: #243bec;
    padding: 2rem;
    border-radius: 15pt;
  }
  
  h4 {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #FFC107;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0;
    font-family: "Rubik", sans-serif;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    list-style: none;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 5px;
    color: #FFC107;
  }

  strong {
    color:#FFC107;
    font-size: 45pt;
  }

  e {
    color: ghostwhite;
    font-weight: 100;
  }

#get-started-button {
    color:ghostwhite;
    font-family: "Rubik", sans-serif;
}

#box1, #box2, #box3 {
  width: 200px;
  height: 5rem;
  overflow: hidden;
  padding:1rem;
  background-color: #243bec;
  box-sizing: border-box;
  border-radius: 1rem;
  color: ghostwhite;
  font-family: "Rubik", sans-serif;
  font-size: 11pt;
  margin-top: 1rem;
}



.box-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.box-row {
  display: flex;
  justify-content: center;
  gap: .5rem;
  width: 50rem;
}


/* Phone */
@media (max-width: 800px) {

  #landing-page {
    overflow-x: hidden;
  }
 
  #landing-left-col {
    margin-top: 20rem;
  }

  #logo {
    max-width: 150px;
    height: auto;
    margin-top: -40rem;
  }

  h3 {
    font-size: 20px;
    padding: .5rem;
  }

  h4 {
    margin-top: -13rem;
    font-size: 16px;
    width: 20rem;
    margin-right: auto;
    margin-left:auto;
  }

  #box1,
  #box2,
  #box3 {
    width: 15%;
    font-size: 10px;
  }

  #box3 {
    margin-right: 2rem;
  }

  .box-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  button {
    margin-top: -2rem;
  }
  
}


