
 .box {
    width: fit-content;
    padding: 5rem;
    text-align: center;
    font-family: "Rubik", sans-serif;
    background-color: rgb(0, 0, 69);
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    border-color:ghostwhite;
  }
  

  .form-container .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 10px;
    
  }

button{
    margin-top: 1rem;
}

#login-submit-button:hover {
    background-color: #ffcd07;
    color: rgb(0, 0, 69)
   
  }

.login-heading {
    font-size: 100px;
}