#landing-page {
display: flex;
justify-content: space-evenly;
height: 100vh;
}
nav {
position: fixed;
top: 0;
width: 100%;
}
.landing-nav {
display: flex;
justify-content: flex-end;
align-content: center;
}
.landing-nav-link {
margin: .5rem;
}
.login-nav,
.register-nav,
.add-nav{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.login-nav-link,
.register-nav-link,
.add-nav-link{
margin: .5rem;
}

@media(max-width: 800px) {
#landing-page {
display: flex;
flex-direction: column;
align-items: center;
text-align: center
}

#logo {
max-width: 80%;
height: auto;

}
}
#item-table { 
    width: 60%; 
    align-content: center; 
    border:10rem; 
    border-color: ghostwhite;
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom:auto;
    overflow-x: auto; 
    overflow-y: auto; 
    color:ghostwhite;
    background-color: rgba(248, 248, 255, 0.175);
  
  } 
  .item-row:hover { 

    background-color: #450093; 
    color:ghostwhite; 
  
  } 

  .item-row {
    color: rgb(199, 196, 253);
    font-family: 'Rubik', sans-serif;



  }

    .view-item-page {
    background-color: rgb(2, 2, 69);
    color: ghostwhite;
    padding-bottom: 20rem;
    margin-top:5rem;
}

#item-header {
    font-family: 'Rubik', sans-serif;
}

#item-delete-button {
    margin-left:19rem;
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    border-radius: 10px;
}
   
