#landing-page {
display: flex;
justify-content: space-evenly;
height: 100vh;
}
nav {
position: fixed;
top: 0;
width: 100%;
}
.landing-nav {
display: flex;
justify-content: flex-end;
align-content: center;
}
.landing-nav-link {
margin: .5rem;
}
.login-nav,
.register-nav,
.add-nav{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.login-nav-link,
.register-nav-link,
.add-nav-link{
margin: .5rem;
}

@media(max-width: 800px) {
#landing-page {
display: flex;
flex-direction: column;
align-items: center;
text-align: center
}
#logo {
max-width: 80%;
height: auto;

}

}