#landing-page {
display: flex;
justify-content: space-evenly;
height: 100vh;
}
nav {
position: fixed;
top: 0;
width: 100%;
height:5rem;
background-color: rgb(0, 57, 200);
}
.landing-nav {
display: flex;
justify-content: flex-end;
align-content: center;
background-color: #243bec;
font-family: "Rubik", sans-serif;
}
.landing-nav-link {
margin: .5rem;
color:ghostwhite;
}
.landing-nav-link:hover {
    color:gold
}
.login-nav,
.register-nav,
.add-nav{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 1rem;
}
.login-nav-link,
.register-nav-link,
.add-nav-link{
margin: .5rem;
font-family: "Rubik", san-serif;
color:ghostwhite;
font-size:14pt;
}
.login-nav-link:hover {
    color:gold;
}
.register-nav-link {
    margin-right: 1rem;
    margin-top:.5rem;
    font-size:14pt;
    color:ghostwhite;
    font-family:"Rubik", sans-serif;
}
.register-nav-link:hover {
    color:gold;
}
#logo {
    float:left;
    margin-top:-.75rem;
}
@media(max-width: 800px) {
  #landing-page {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  #logo {
    max-width: 100%;
    height: auto;
  }
}
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(0, 57, 200);
  padding: 0 1rem;
  }
a.landing-nav-link{
  margin-left:1rem;
}

